*{
    box-sizing: border-box;
    font-weight: normal
}

.background {
    background-image: url('images/network-3424070_960_720.png');
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    
}

/*  .site-opacity {
    opacity: 0.8;
}   */

p,
a,
h1,
h2 {
    opacity: 1;
}

body{
    /*background-color:hsla(39, 51%, 4%, 1);*/
    background-color: black;
    color:hsl(30.2,49.8%,50%);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    margin-left: 1em;
    margin-right: 1em;
    overflow: hidden;
}

/*.main-header{
    color:hsl(30.2,49.8%,50%);
    background-color: black;
}*/

.navbar{
    background-color: hsla(39, 51%, 3%, 0.8);
    border-style: solid;
    border-color:hsl(30.2,49.8%,50%);
    border-left: 0px;
    border-right: 0px;

} 

.navbar ul{
    padding:0;
    list-style:none;
    float: left;
    width: 70%;
    box-sizing: border-box;
}

.navbar li{
    display:inline-block;
    padding-left: 5%;
}

.navbar a{
    color:hsla(30.2,49.8%,50%, 1);
    text-decoration:none;
    font-size: 22px;
}

.search input[type=text] {
    margin-top: 15px;
    padding: 1px;
    font-size: 18px;
    border: 1px solid hsl(30.2,49.8%,50%);
    float: right;
    width: 30%;
    box-sizing: border-box;
    background: #f1f1f1;
  }

.showcase{
    color:hsl(30.2,49.8%,50%);
    background-color: hsla(39, 51%, 1%, 0.6);
    border-style: solid;
    border-color: hsla(30.2,49.8%,50%, 1);
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    margin: auto;
    overflow: hidden;
    min-height: 25px;
    text-align: center;
    font-size: 16px;
}

h1 {
    line-height: 0.5em;
}

.main{
    text-align: center;
    font-size: 18px;
    min-height: 400px;
    background-color: hsla(39, 51%, 3%, 0.8);
    /*opacity: 0.5;*/
    overflow: hidden;
}

.article{
width: 30%;
height: 17.5em;
float: left;
border: 0.3px;
border-style: solid;
border-color: hsl(30.2,49.8%,50%);
margin: 1%;
box-sizing: border-box;
color:hsl(30.2,49.8%,50%);
opacity: 0.9;
background-image: url('images/ghostinthemachine.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.background-error {
    background-image: url('wallpapers/boom.jpg');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
}

.footer{
    border-style: solid;
    border-color: hsl(30.2,49.8%,50%);
    border-left: 0px;
    border-right: 0px;
    margin-bottom: 0; 
    color:hsl(30.2,49.8%,50%);
    background-color: black;
    text-align: center;
}