@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    box-sizing: border-box;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.background {
    background-image: url('images/network-3424070_960_720.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

/*  .site-opacity {
    opacity: 0.8;
}   */

body{
    /*background-color:hsla(39, 51%, 4%, 1);*/
    background-color: black;
    color:hsl(30.2,49.8%,50%);
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* line-height: 1.6em; */
}

.navbar{
    background-color: hsla(39, 51%, 3%, 0.8);
    border-style: solid;
    border-color:hsla(30.2,49.8%,50%,0.4);
    border-width: 0.1px 0px 0.1px 0px;
    overflow: hidden;
} 

.ulDiv {
    padding: 1em 0;
    list-style:none;
    float: left;
    height: 100%;
    width: 70%;
    box-sizing: border-box;
}

.navbar li{
    display:inline-block;
    padding-left: 8vw;
}

.navbar a{
    color:hsla(30.2,49.8%,50%, 1);
    text-decoration:none;
    font-size: 1.5em;
}

.searchDiv {
    margin: 1em 0em;
    float: right;
    height: 100%;
    width: 30%;
}
.search input[type=text] {
    margin-right: 1em;
    padding: 0.2em;
    font-size: 1.2em;
    border: 1px solid hsl(30.2,49.8%,50%);
    float: right;
    height: 100%;
    width: 90%;
    background: #f1f1f1;
  }

.citation {
    color:hsl(30.2,49.8%,50%);
    background-color: hsla(39, 51%, 1%, 0.6);
    padding: 1em 8vw;
    border-style: solid;
    border-color:hsla(30.2,49.8%,50%,0.4);
    border-width: 0px 0px 0.1px 0px;
    /* overflow: hidden; */
    /* min-height: 5vh; */
    text-align: left;
}

.citation cite {
    font-size: 1.5em;
}

h1 {
    font-size: 1.8em;
    /* margin: 0 0 1vw 0; */
    padding:0 0 2vw 0;
}

.main{
    text-align: center;
    font-size: 18px;
    min-height: 70vh;
    background-color: hsla(39, 51%, 3%, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*opacity: 0.5;*/
    /* overflow: hidden; */
}

.articleContainer {
    margin: 1vw 0 0 0;
    padding: 1vw 0 8vw 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;

}

.article{
width: 25vw;
min-width: 350px;
height: 25vw;
min-height: 350px;
float: left;
/* border: 0.3px;
border-style: solid;
border-color: hsl(30.2,49.8%,50%); */
margin: 1%;
box-sizing: border-box;
color:hsl(30.2,49.8%,50%);
opacity: 0.9;
filter: sepia(100%);
background-image: url('./images/full-moon-2055469_960_720.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
transition: filter 2s;
transition-timing-function: ease-in;
}

.article:hover{
    /* height: 20vw;
    border-radius: 100%;
    transform: rotateY(180deg);
    transform: rotateZ(180deg);
    transform: rotateX(180deg);
    animation: grow 3s; */
    filter: none;
}

@keyframes grow {
    0% {        
        width: 20%;
        border-radius: 0%;
    }
    15% {        
        width: 15%;
    }
    30% {        
        width: 25%;
    }
    100% {
        width: 20%;
        border-radius: 100%;
    }
}

.background-error {
    background-image: url('wallpapers/boom.jpg');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
}

.footer{
    margin-top: auto;
    border-style: solid;
    border-style: solid;
    border-color:hsla(30.2,49.8%,50%,0.4);
    border-width: 0.1px 0px 0.1px 0px;
    margin-bottom: 0; 
    color:hsl(30.2,49.8%,50%);
    background-color: black;
    text-align: center;
}

.flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}
